<div class="container">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Small App Angular in ASP.NET Core</a>
    </nav>
</div>

<br><br>

<form>
    <div class="app-content">
        <div class="container body-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</form>

<footer class="app-footer fixed-bottom">
    <small id="footerText">
        &copy; Copyright {{ footerYear }}, by Mr.Chpock
    </small>
</footer>