	    <h2><span class="badge badge-dark font-weight-bold">Изменение данных об автомобиле</span></h2>
	<form [formGroup]="myForm" class="just-form" novalidate>
		<div class="form-group">
			    <label>Марка <span class="redStar">*</span></label>
			    <input type="text" formControlName="name" [(ngModel)]="car.name" class="form-control" name="name"
				maxlength="16" placeholder="Марка" required>
			<div class="alert alert-danger" *ngIf="myForm.controls['name'].invalid && myForm.controls['name'].touched">
				Указана некорректная марка
			</div>
		</div>

		<div class="form-group">
			    <label>Модель <span class="redStar">*</span></label>
			    <input type="text" formControlName="model" [(ngModel)]="car.model" class="form-control" name="model"
				maxlength="16" placeholder="Модель" required>
			<div class="alert alert-danger" *ngIf="myForm.controls['model'].invalid && myForm.controls['model'].touched">
				Указана некорректная модель
			</div>
		</div>

		<div class="form-group">
			    <label>Цена <span class="redStar">*</span></label>
			    <input type="number" formControlName="price" [(ngModel)]="car.price" class="form-control" name="price"
				placeholder="Цена" required>
			<div class="alert alert-danger" *ngIf="myForm.controls['price'].invalid && myForm.controls['price'].touched">
				Указана некорректная цена
			</div>
		</div>

		    <div class="form-group">
				<input [disabled]="myForm.invalid" type="button" value="Сохранить" (click)="save(myForm)" class="btn btn-success btn-lg">
				<!-- <input [disabled]="myForm.invalid" type="image" src="/src/img/saveCreate.jpg" (click)="save(myForm)"> -->
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a routerLink="/" class="btn btn-warning btn-lg" id="backBtn">Назад к списку</a>
				<!-- <a routerLink="/" type="image" src='/src/img/back.jpg'>Назад к списку</a> -->
		</div>
	</form>