h2 {
	text-align: center;
}

.badge {
	font: 24px 'Merriweather', italic;
	background-color: #343a40 !important;
}

.redStar {
	color: #ff0000;
	font-weight: bolder;
}

label {
	font: 18px 'Merriweather', normal;
}

input.ng-touched.ng-invalid {
	border: solid red 4px;
}

input.ng-touched.ng-valid {
	border: solid green 2px;
}

.alert {
	font-size: 13px;
}