<div>
	    <h2><span class="badge badge-dark font-weight-bold">Добавление нового автомобиля: </span></h2>
	<form class="just-form" [formGroup]="justForm">
		<div class="form-group">
			    <label>Марка <span class="redStar">*</span></label>
			    <input type="text" id="name" formControlName="name" [(ngModel)]="car.name" class="form-control"
				maxlength="16" placeholder="Марка" required>
		</div>

		<div class="form-group">
			    <label>Модель <span class="redStar">*</span></label>
			    <input type="text" [(ngModel)]="car.model" class="form-control" id="model" formControlName="model"
				maxlength="16" placeholder="Модель" required>
		</div>

		<div class="form-group">
			    <label>Цена <span class="redStar">*</span></label>
			    <input type="number" id="price" formControlName="price" [(ngModel)]="car.price" class="form-control"
				placeholder="Цена" required>
		</div>

		    <div class="form-group">
			        <input type="button" value="Сохранить" (click)="save()" class="btn btn-success btn-lg">
			        <a routerLink="/" class="btn btn-warning btn-lg"> Отмена</a>
		</div>
	</form>
</div>